html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Livvic", "Arial", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-weight: bold;
}

.search-form {
  display: flex;
}

.saerch-wrapper {
  display: inline-flex;
}

.search-input {
  margin-right: 20px;
}

.catigories-select {
  margin-right: 25px;
}

.search-button {
  height: 38px;
}

.movies {
  overflow: auto;
  margin-right: -25px;
  height: 440px;
}

.movie {
  max-width: 235px;
  padding: 10px;
  margin-right: 33px;
  border-radius: 5px;
  transition: background-color 0.4s ease;
}

.trailer__link {
  position: relative;
  z-index: 1;
  width: 200px;
  height: 150px;
  display: inline-block;
  margin-bottom: 10px;
}

.movie__img {
  display: block;
}

.trailer__link::before {
  position: absolute;
  z-index: 1;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "Trailer";
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
}

.movie:hover .trailer__link::before{
  display: flex;
}

.movie__title {
  margin: 0;
  margin-bottom: 2px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.movie__categories {
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
  font-style: italic;
}

.star {
  color: #dc3545;
  font-size: 24px;
}


/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

@media only screen and (max-width: 1200px) {
  .movies {
    justify-content: space-between;
  }
}

@media only screen and (max-width: 800px) {
  .search-form {
    display: flex;
    flex-direction: column;
  }

  .saerch-wrapper {
    display: flex;
    margin-bottom: 18px;
    width: 100%;
  }

  .movies {
    overflow: visible;
    margin-right: -35px;
    height: 100%;
  }
}

@media only screen and (max-width: 490px) {
  .movies {
    overflow: visible;
    margin-right: 0;
    height: 100%;
  }

  .movie {
    margin-left: auto;
    margin-right: auto;
  }
}


@media only screen and (max-width: 400px) {
  .selct-wrapper {
    flex-direction: column;
  }

  .catigories-select {
    margin-bottom: 18px;
  }
}