html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Livvic", "Arial", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-weight: bold;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.saerch-wrapper {
  display: flex;
  width: 50%;
}

.search-input {
  margin-right: 20px;
}

.search-button {
  height: 38px;
}

.catigories-select {
  margin-right: 25px;
}

.movies {
  overflow: auto;
  margin-right: -35px;
  height: 430px;
}

.movie {
  max-width: 240px;
  margin-right: 33px;
  border-radius: 5px;
}

.movie__img {
  display: block;
}

.star {
  color: #dc3545;
  font-size: 24px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

@media only screen and (max-width: 1200px) {
  .movies {
    justify-content: space-between;
  }
}

@media only screen and (max-width: 800px) {
  .search-form {
    display: flex;
    flex-direction: column;
  }

  .saerch-wrapper {
    display: flex;
    margin-bottom: 18px;
    width: 100%;
  }

  .movies {
    overflow: visible;
    margin-right: -35px;
    height: 100%;
  }
}

@media only screen and (max-width: 490px) {
  .movies {
    overflow: visible;
    margin-right: 0;
    height: 100%;
  }

  .movie {
    margin-left: auto;
    margin-right: auto;
  }
}


@media only screen and (max-width: 400px) {
  .selct-wrapper {
    flex-direction: column;
  }

  .catigories-select {
    margin-bottom: 18px;
  }
}