html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Livvic", "Arial", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-weight: bold;
}

.movies {
  overflow: auto;
  margin-right: -35px;
  height: 430px;
}

.movie {
  max-width: 240px;
  margin-right: 33px;
  border-radius: 5px;
}

.movie__img {
  display: block;
}

.star {
  color: #dc3545;
  font-size: 24px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}